

@model DrinksListViewModel

<div class="row marginTop">
    @foreach (var drink in Model.Drinks)
    {
        
        @*@Html.Partial("DrinksSummary", drink)*@
        <partial name="DrinksSummary" model="drink"/>
    }
</div>
